@media (max-width: 1600.98px)
  .container
    grid-column-gap: 0
    padding: 0 30px
    box-sizing: border-box
  .footer__adress
    grid-column: 10/13
  .footer__email
    grid-column: 8/10
@media (max-width: 1366.98px)
  .slider__dots
    width: 920px
  .nav
    grid-column: 5 / 10
  .sidebar
    &__contacts
      flex-wrap: wrap
    &__phone
      width: 100%
      margin-bottom: 20px
  .sidebar.in-fix
    max-width: 30%

